UI vesamenu.c32
MENU BACKGROUND splash.png
DEFAULT ColdWalletOS
PROMPT 0
TIMEOUT 50
ONTIMEOUT ColdWalletOS

LABEL ColdWalletOS
    KERNEL /cw_sys/vmlinuz
    APPEND initrd=/cw_sys/initrd.img boot=live components splash autologin live-media-label=ColdWalletOS live-media-path=/cw_sys modprobe.blacklist=uvcvideo,bluetooth,btusb,rtw88_8821ce,iwlwifi,iwlmvm,snd_hda_intel,pcspkr,joydev ipv6.disable=1 net.ifnames=0