UI vesamenu.c32
MENU BACKGROUND splash.png
DEFAULT HotWalletOS
PROMPT 0
TIMEOUT 50
ONTIMEOUT HotWalletOS

LABEL HotWalletOS
    KERNEL /hw_sys/vmlinuz
    APPEND initrd=/hw_sys/initrd.img boot=live components splash autologin live-media-label=HotWalletOS live-media-path=/hw_sys