# Quiet the console so errors don't stay on screen
set debug=
set pager=0

insmod part_gpt
insmod part_msdos
insmod fat
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod gfxterm
insmod tga
insmod background_image
clear

set timeout=5
set timeout_style=hidden
set gfxmode=1920x1080,1280x720,1024x600,auto
set gfxpayload=keep
terminal_output gfxterm

set menu_color_normal=black/black
set menu_color_highlight=black/black
background_image /boot/grub/splash.tga

menuentry "HotWalletOS" {
    search --no-floppy --label HotWalletOS --set=root --hint hd0,msdos1
    if [ -z "$root" ]; then
        sleep 5
        search --no-floppy --label HotWalletOS --set=root
    fi
    linux /hw_sys/vmlinuz boot=live components splash autologin live-media-label=HotWalletOS live-media-path=/hw_sys live-media-timeout=15
    initrd /hw_sys/initrd.img
}