# Quiet console
set debug=
set pager=0

# Core filesystem and search modules
insmod iso9660
insmod part_msdos
insmod part_gpt
insmod fat
insmod ext2
insmod search
insmod search_fs_file
insmod test

# Display modules
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod gfxterm
insmod tga

clear

if loadfont /boot/grub/fonts/unicode.pf2 ; then
    set gfxmode=1920x1080,1280x720,1024x600,auto
    set gfxpayload=keep
    terminal_output gfxterm
fi

set timeout=15
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

set default=0

background_image /boot/grub/splash.tga

# ============================================================
# 1. HOTWALLETOS
# ============================================================
menuentry "HotWalletOS" --id "HotWalletOS" {
    insmod search
    search --no-floppy --file /hw_sys/vmlinuz --set=root
    linux /hw_sys/vmlinuz boot=live components splash autologin live-media-path=/hw_sys bootfrom=/dev/disk/by-partuuid/22222222-01 live-media-timeout=15 quiet
    initrd /hw_sys/initrd.img
}

# ============================================================
# 2. COLDWALLETOS
# ============================================================
menuentry "ColdWalletOS" --id "ColdWalletOS" {
    insmod search
    search --no-floppy --file /cw_sys/vmlinuz --set=root
    linux /cw_sys/vmlinuz boot=live components splash autologin live-media-path=/cw_sys bootfrom=/dev/disk/by-partuuid/11111111-01 live-media-timeout=15 modprobe.blacklist=uvcvideo,bluetooth,btusb,rtw88_8821ce,iwlwifi,iwlmvm,snd_hda_intel,pcspkr,joydev ipv6.disable=1 net.ifnames=0 quiet
    initrd /cw_sys/initrd.img
}

# ============================================================
# 3. UPDATEOS
# ============================================================
menuentry "UpdateOS" --id "UpdateOS" {
    insmod search
    search --no-floppy --file /up_sys/vmlinuz --set=root
    linux /up_sys/vmlinuz boot=live components splash autologin live-media-path=/up_sys bootfrom=/dev/disk/by-partuuid/88888888-01 live-media-timeout=15 quiet
    initrd /up_sys/initrd.img
}