# Quiet the console so errors don't stay on screen
set debug=
set pager=0

insmod part_gpt
insmod part_msdos
insmod fat
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod gfxterm
insmod tga
#insmod background_image
clear

set timeout=5
set timeout_style=hidden
set gfxmode=1920x1080,1280x720,1024x600,auto
terminal_output gfxterm

set menu_color_normal=black/black
set menu_color_highlight=black/black
background_image /boot/grub/splash.tga

menuentry "UpdateOS" {
    # 1. Search for the partition label
    search --no-floppy --label UpdateOS --set=root
    
    # And add live-media-path=/live
    linux /live/vmlinuz boot=live components splash autologin live-media-label=UpdateOS live-media-path=/live modprobe.blacklist=uvcvideo,bluetooth,btusb,rtw88_8821ce,iwlwifi,iwlmvm,snd_hda_intel,pcspkr,joydev ipv6.disable=1 net.ifnames=0
    
    initrd /live/initrd.img
}
