UI vesamenu.c32
MENU BACKGROUND splash.png
DEFAULT UpdateOS
PROMPT 0
TIMEOUT 50
ONTIMEOUT UpdateOS

LABEL UpdateOS
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live components splash autologin live-media-label=UpdateOS live-media-path=/live modprobe.blacklist=uvcvideo,bluetooth,btusb,rtw88_8821ce,iwlwifi,iwlmvm,snd_hda_intel,pcspkr,joydev ipv6.disable=1 net.ifnames=0